.container {
    padding-top: 5px;
    padding-bottom: 90px;
}

.welcome-text {
    margin-top: 40px;
  }
  
  .visitor-box, .comment-box, .message-box {
    margin-top: -30px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .visitor-box:hover, .comment-box:hover, .message-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 30px 0;
  }
  
  .bi {
    vertical-align: middle;
  }
  