<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #3C6BC6;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/uv 1.svg" width="150px" class="ml-5" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Beranda">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Postingan</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="Berita">Berita</a></li>
              <li><a class="dropdown-item" routerLink="DaftarKehilanganAnak">Daftar Anak Hilang</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="Edukasi">Edukasi</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Pesan">Pesan</a>
          </li>
          <a class="nav-link" href="#"><img src="../../../assets/img/Foto Profil.svg" class="FotoProfil" width="35px" alt=""></a>
        </ul>
      </div>
    </div>
  </nav>