<body>
    <div id="container">
        <div class="header">
        </div>
        <div class="navigation shadow">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo"><a routerLink="beranda">CareKids</a></label>
            <ul>
                <li><a routerLink="beranda">Beranda</a></li>
                <li class=""><a>Postingan</a>
                    <ul class="dropdown">
                        <li><a routerLink="news">Berita</a></li>
                        <li><a routerLink="">Info Anak Hilang</a></li>
                        <li><a routerLink="">Edukasi</a></li>
                    </ul>
                </li>
                <li><a routerLink="education">Pesan</a></li>
                <a class="nav-link" href="#"><img src="../../../assets/img/Foto Profil.svg" class="Profil" width="40px" alt=""></a>
            </ul>
        </div>
    </div>


     <!-- Main-Content -->

     <section class="main-content">
        <div class="main">
          <h2 class="mr-3">Selamat Datang <br> Hesky Ramadhan</h2>
          <span class="Statistik">Statistik</span>
        </div>
        <div class="kotak1">
          <div class="Pengunjung">
            <i class="bi bi-person-fill"></i>
          Pengunjung
         </div>
         <h5>0</h5>
        </div>
        <div class="kotak2">
          <div class="Komentar">
            <i class="bi bi-chat-square-fill"></i>
          Komentar
          </div>
          <h5 class="i">0</h5>
      </div>
      <div class="kotak3">
         <div class="Pesan">
          <i class="bi bi-chat-fill"></i>
          Pesan
         </div>
         <h5 class="o">0</h5>
      </div>
      </section>
  
      <div class="bulat"></div>
      <div class="kotak"></div>
  
      <!-- Akhir main-content -->
</body>
