h2 {
    position: absolute;
    margin-top: 60px;
    margin-left:40px;
}

p {
    position: absolute;
    margin-top: 205px;
    margin-left: 40px;

}

h4 {
    position: absolute;
    margin-top: 65px;
    margin-left: 20px;

}

#icon {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

#count {
    position: absolute;
    margin-top: 114px;
    margin-left: 20px;
}

.visitor-box,.comment-box,.message-box {
  
    border-radius: 20px;
    background: #3C6BC6;
    position: absolute;
    width: 306px;
    height: 182px;
    margin-left: -28px;
    
}

.visitor-box {
    left: 72px;
    top: 349px;
}

.comment-box {
    left: 398px;
    top: 349px;
}

.message-box {
    left: 724px;
    top: 349px;
}


h3 {
    position: absolute;
}