
     <section class="main">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="text-center fw-bold" style="font-size: 42px;">POSTINGAN BERITA</h2>
              <div class="Status-Post">
                <span class="text-decoration-none Publish">Diterbitkan</span>
                <span class="text-decoration-none Draft">Draft</span>
                <span class="text-decoration-none Trash">Sampah</span>
              </div>
              <form class="d-flex" role="search" id="cari">
                <input  class="form-control me-2 w-10 h-50" type="search" placeholder="Search" aria-label="Search">
                <button><i class="bi bi-search fa-2x"></i></button>
              </form>
              <button class="btn btn-success" id="Add" routerLink="tambahpostingan">Tambah</button>
              <table class="table table-bordered">
                <thead class="text-center" style="color: #fafafa; background: royalblue;">
                  <tr>
                    <th>No</th>
                    <th>Judul</th>
                    <th>Kategori</th>
                    <th>Tanggal</th>
                    <th class="text-center">Aksi</th>
                  </tr>
                </thead>
                <tbody  class="text-center" id="table-body">
          
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      