.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn {
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .btn-success {
    background-color: green;
    color: white;
  }
  
  .btn-danger {
    background-color: red;
    color: white;
  }
  
  .btn-warning {
    background-color: orange;
    color: white;
  }

.Publish {
    margin-left: 3px;
}
.Draft {
    margin-left: 10px;
}
.Trash {
    margin-left: 15px;
}