section {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

section>h3 {
    text-align: center;
    font-weight: bold;
}

section>p {
    font-size: 18px;
}

form {
    margin-left: 50px;
    margin-right: 50px;
}

.row {
    margin-top: 0px;
    margin-bottom: 0px;
}

.row>div {
    margin-bottom: 5px;
}

.row>div>label {
    margin-left: 5px;
}

.row label {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.row input {
background-color: #e1e2e4;
}

.row textarea{
    background-color: #e1e2e4;
}

.btn {
    background-color: #3C6BC6;
    color: white;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover {
    background-color: orange;
    color: black;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (max-width: 768px) {
    section {
        margin-left: 0px;
        margin-right: 0px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 576px) {
    section {
        margin-left: 0px;
        margin-right: 0px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}