    <div class="container">
        <div class="card-post">
            <div class="card-post-img">
                <img src="https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU3fHx0ZWNobm9sb2d5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </div>
            <div class="card-post-info">
                <div class="card-post-date">
                    <span>Ade Haryanto</span>
                    <span>Feb 03 2023</span>
                </div>
                <h1 class="card-post-title">Lorem ipsum dolor sit amet.</h1>
                <p class="card-post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores a, tempore veniam quasi sint fugiat
                    facilis, facere, amet magnam optio velit. Laudantium et temporibus soluta, esse cupiditate aliquid
                    dicta
                    accusantium.
                </p>
                <a routerLink="/news" class="card-post-link">Read More</a>
            </div>
        </div>

        <div class="card-post">
            <div class="card-post-img">
                <img src="https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU3fHx0ZWNobm9sb2d5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </div>
            <div class="card-post-info">
                <div class="card-post-date">
                    <span>Ade Haryanto</span>
                    <span>Feb 03 2023</span>
                </div>
                <h1 class="card-post-title">Lorem ipsum dolor sit amet.</h1>
                <p class="card-post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores a, tempore veniam quasi sint fugiat
                    facilis, facere, amet magnam optio velit. Laudantium et temporibus soluta, esse cupiditate aliquid
                    dicta
                    accusantium.
                </p>
                <a routerLink="" class="card-post-link">Read More</a>
            </div>
        </div>

        <div class="card-post">
            <div class="card-post-img">
                <img src="https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU3fHx0ZWNobm9sb2d5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </div>
            <div class="card-post-info">
                <div class="card-post-date">
                    <span>Ade Haryanto</span>
                    <span>Feb 03 2023</span>
                </div>
                <h1 class="card-post-title">Lorem ipsum dolor sit amet.</h1>
                <p class="card-post-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores a, tempore veniam quasi sint fugiat
                    facilis, facere, amet magnam optio velit. Laudantium et temporibus soluta, esse cupiditate aliquid
                    dicta
                    accusantium.
                </p>
                <a routerLink="" class="card-post-link">Read More</a>
            </div>
        </div>
       
    </div>

