<div class="container">
    <div class="title-home">
        <p>Berita Hangat</p>
        <form class="col-md-6">
            <input class="search" type="text" name="search" placeholder="Cari Berita ..." required [(ngModel)]="searchText"
                (input)="search(searchText)" />
        </form>
    </div>
    <div routerLink="detail/{{ data.id }}" class="card-post" *ngFor="let data of news | paginate: { itemsPerPage: 5, currentPage: page }">
        <div class="card-post-img">
            <img src="{{ data.thumbnail }}"
                alt="">
        </div>
        <div class="card-post-info">
            <div class="card-post-date">
                <span class="fa fa-clock-o"> {{ data.created_at }}</span>
            </div>
            <h1 class="card-post-title">{{ data.title }}</h1>
            <p class="card-post-text">
                {{ data.description }}<a routerLink="detail/{{ data.id }}" class="card-post-link"> Read More</a>
            </p>
        </div>
    </div>
    <div>
        <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>