.imgList{
    width: 100%;
    max-width: 95%;
    margin: 30px auto 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px; 
}

.imgList img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: -60px;
}