

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center"></h3>
          </div>
          <div class="card-body">
            <form [formGroup]="formarticle">
              <div class="form-group mb-4">
                <label for="title">Judul</label>
                <input type="text" class="form-control" id="title"  formControlName="title" placeholder="Masukkan judul">
              </div>
              <div class="form-group mb-4">
                <label for="content">Deskripsi</label>
                <textarea class="form-control" id="content" rows="10"  formControlName="description"placeholder="Tulis sesuatu"></textarea>
              </div>
              <div class="form-group mb-4">
                <label for="category">Kategori</label>
                <select class="form-control" id="category">
                  <option value="edukasi">EDUKASI</option>
                  <option value="berita"></option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="category">Status</label>
                <select class="form-control" formControlName="" id="category">
                  <option value="Publish">Publish</option>
                  <option value="Unpublish"></option>
                  <option value="Draft"></option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="image">Gambar Postingan</label>
                <input type="file" class="form-control-file" formControlName="thumbnail" id="image">
              </div>
              <button type="submit" class="btn btn-primary mr-2" (click)="save()">Terbitkan</button>
              <button type="submit" class="btn btn-secondary">Simpan sebagai Draft</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  