.container {
    display: absolute;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row col-12{
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.postingan {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}

/* title-home */
.title-home {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(223, 225, 225);
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.title-home>p {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
/* end title home */
/* card */
.card-deck {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
}

.card {
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
    transition: 1s ease;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.blog-image {
    position: relative;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
}

.blog-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 10px 15px;
}

.blog-title {
    font-size: 18px;
    font-weight: 500;
}

.blog-category {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
    opacity: 0.8;
}

.blog-desc {
    font-size: 14px;
    text-align: justify;
}

.blog-desc a {
    text-decoration: none;
    color: #3C6BC6;
    font-weight: 500;
}

.blog-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.blog-author {
    font-size: 14px;
    font-weight: 500;
}

.blog-post {
    font-size: 15px;
    color: #b3b2b2;
}

.blog-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin-right: 20px;
}

.blog-avatar img {
    width: 100%;
}

.blog-comment {
    margin-left: 10px;
}

.blog-footer .btn {
    margin-left: auto;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: #3C6BC6;
}
/*end card */
.side{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
}

.top{
    margin-bottom: 10px;
}
/*top article */
.top-article {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-article ul {
    display: grid;
    grid-gap: 5px;
    margin-left: 20px;
}

.top-article ul li {
    width: auto;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    margin-top: 2px;
}

.top-article>ul>li:hover {
    transform: scale(1.05);
}

.top-article>ul>li>a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
/*end top article */
/*card-about */
.about{
    margin-bottom: 10px;
}

.card-about {
    margin: 5px;
    margin-left: 20px;

}

.card-about .img {
    width: 100%;
    height: 100%;
}

.card-about .img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: 24%;
}

.card-about>.card-body {
    padding-top: 10px;
}

.card-about>.card-body>.card-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-about>.card-body>.card-text {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: justify;
}
/*end card-about */

@media screen and (max-width: 1000px) {
    .postingan{
        width: 100%;
    }
    .side{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .top{
        width: 50%;
    }
    .about{
        width: 50%;
    }
    .card-deck {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .postingan{
        width: 100%;
    }
    .side{
        width: 100%;
        display: block;
    }
    .top{
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .card-deck {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}