<div class="container m-auto">
    <div class="row">
        <div class="col-11">
            <div>
                <div class="carousel">
                    <figure>
                        <div class="slide">
                            <img src="https://cdn.stocksnap.io/img-thumbs/960w/NV5A5D7JPU.jpg">
                        </div>

                        <div class="slide">
                            <img src="https://cdn.stocksnap.io/img-thumbs/960w/3EXIOEFB53.jpg">
                        </div>

                        <div class="slide">
                            <img src="https://cdn.stocksnap.io/img-thumbs/960w/ONPRW7FMP7.jpg">
                        </div>

                        <div class="slide">
                            <img src="https://cdn.stocksnap.io/img-thumbs/960w/NMHVXCOPGH.jpg">
                        </div>

                        <div class="slide">
                            <img src="https://cdn.stocksnap.io/img-thumbs/960w/LRCLSUE3EV.jpg">
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="title-home">
                <p>Artikel Terbaru</p>
            </div>
            <div class="card-deck">
                <div class="card" routerLink="/education/detail">
                    <div class="blog-image">
                        <img src="..\assets\images\thumbnail\Screenshot 2023-01-04 120836.png">
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">Learning Web Design</div>
                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam. <a routerLink="/education/detail">Read More</a></p>
                        <div class="blog-footer">
                            <div class="blog-avatar"><img src="..\assets\images\profile\pp.jpg"></div>
                            <div>
                                <span class="blog-author">Ade Haryanto</span>
                                <div class="blog-post">
                                    <span><i class="fa fa-clock-o"></i> Feb 02 2023</span>
                                    <span class="blog-comment"><i class="fa fa-comments"></i> 35 comments</span>
                                </div>
                            </div>
                            <button class="btn btn-sm"><i class="fa fa-share-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-image">
                        <img src="..\assets\images\thumbnail\Screenshot 2023-01-04 120836.png">
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">Learning Web Design</div>
                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam. <a href="#">Read More</a></p>
                        <div class="blog-footer">
                            <div class="blog-avatar"><img src="..\assets\images\profile\pp.jpg"></div>
                            <div>
                                <span class="blog-author">Ade Haryanto</span>
                                <div class="blog-post">
                                    <span><i class="fa fa-clock-o"></i> Feb 02 2023</span>
                                    <span class="blog-comment"><i class="fa fa-comments"></i> 35 comments</span>
                                </div>
                            </div>
                            <button class="btn btn-sm"><i class="fa fa-share-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-image">
                        <img src="..\assets\images\thumbnail\Screenshot 2023-01-04 120836.png">
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">Learning Web Design</div>
                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam. <a href="#">Read More</a></p>
                        <div class="blog-footer">
                            <div class="blog-avatar"><img src="..\assets\images\profile\pp.jpg"></div>
                            <div>
                                <span class="blog-author">Ade Haryanto</span>
                                <div class="blog-post">
                                    <span><i class="fa fa-clock-o"></i> Feb 02 2023</span>
                                    <span class="blog-comment"><i class="fa fa-comments"></i> 35 comments</span>
                                </div>
                            </div>
                            <button class="btn btn-sm"><i class="fa fa-share-alt"></i></button>
                        </div>
                    </div>
                </div>


            </div>

            <div class="title-home">
                <p>Berita Terbaru</p>
            </div>
            <div class="card-deck">
                <div class="card">
                    <div class="blog-image">
                        <img src="..\assets\images\thumbnail\Screenshot 2023-01-04 120836.png">
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">Learning Web Design</div>
                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam. <a href="#">Read More</a></p>
                        <div class="blog-footer">
                            <div class="blog-avatar"><img src="..\assets\images\profile\pp.jpg"></div>
                            <div>
                                <span class="blog-author">Ade Haryanto</span>
                                <div class="blog-post">
                                    <span><i class="fa fa-clock-o"></i> Feb 02 2023</span>
                                    <span class="blog-comment"><i class="fa fa-comments"></i> 35 comments</span>
                                </div>
                            </div>
                            <button class="btn btn-sm"><i class="fa fa-share-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-image">
                        <img src="..\assets\images\thumbnail\Screenshot 2023-01-04 120836.png">
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">Learning Web Design</div>
                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam. <a href="#">Read More</a></p>
                        <div class="blog-footer">
                            <div class="blog-avatar"><img src="..\assets\images\profile\pp.jpg"></div>
                            <div>
                                <span class="blog-author">Ade Haryanto</span>
                                <div class="blog-post">
                                    <span><i class="fa fa-clock-o"></i> Feb 02 2023</span>
                                    <span class="blog-comment"><i class="fa fa-comments"></i> 35 comments</span>
                                </div>
                            </div>
                            <button class="btn btn-sm"><i class="fa fa-share-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-image">
                        <img src="..\assets\images\thumbnail\Screenshot 2023-01-04 120836.png">
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">Learning Web Design</div>
                        <p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam. <a href="#">Read More</a></p>
                        <div class="blog-footer">
                            <div class="blog-avatar"><img src="..\assets\images\profile\pp.jpg"></div>
                            <div>
                                <span class="blog-author">Ade Haryanto</span>
                                <div class="blog-post">
                                    <span><i class="fa fa-clock-o"></i> Feb 02 2023</span>
                                    <span class="blog-comment"><i class="fa fa-comments"></i> 35 comments</span>
                                </div>
                            </div>
                            <button class="btn btn-sm"><i class="fa fa-share-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="title-home">
                <p>Artikel Teratas</p>
            </div>
            <div class="top-article">
                <ul class="list-group">
                    <li class="list-group-item ">
                        <a class="" routerLink="">Cras justo odio</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="" routerLink="">Cras justo odio</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="" routerLink="">Cras justo odio</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="" routerLink="">Cras justo odio</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="" routerLink="">Cras justo odio</a>
                    </li>
                </ul>
            </div>

            <div class="title-home mt-3">
                <p> Tentang Kami</p>
            </div>
            <div class="card-about">
                <div class="img">
                    <img class="card-about-img-center" src="/assets/images/profile/pp.jpg"
                        alt="profile">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CareKids</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
</div>