<!--
<h3>{{judul}}</h3>

<form action="">
    <div class="main">
      <div class="box" style="background: #b4b4b4; width: 750px; height: 435px;"></div>
      <textarea class="form-control" style="resize: none; width: 750px; height: 400px;" name="addpost" id="addpost" cols="30" rows="1" placeholder="Tulis Sesuatu atau klik “+” untuk memunculkan menu"></textarea>
      <input type="text" placeholder="Masukkan Judul" class="" style="width: 750px;">
      <a href="" class="text-decoration-none bg-dark"><i class="bi bi-plus-circle-fill" style="position: absolute;"></i></a>
      <div class="box-2 text-center">
        <label for="penulis" class="satu fw-bold">Penulis</label>
        <input type="text" id="writer" style="width: 200px; background-color: yellow;">
        <label for="terbit" class="dua fw-bold">Terbit</label>
        <input type="text" id="rise" style="width: 200px; background-color: yellow;">
        <label for="terbit" class="tiga fw-bold">Kategori</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Kategori</option>
          <option value="1">Edukasi</option>
          <option value="2">Berita</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary upload">Terbitkan</button>
      <button type="submit" class="btn btn-warning draft">Draft</button>
    </div>
</form> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center"></h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group mb-4">
              <label for="title">Judul</label>
              <input type="text" class="form-control" id="title" ngModel="article.judul" placeholder="Masukkan judul" required>
            </div>
            <div class="form-group mb-4">
              <label for="content">Isi Postingan</label>
              <textarea class="form-control" id="content" rows="10" ngModel="article.isi postingan" placeholder="Tulis sesuatu atau klik “+” untuk memunculkan menu" required></textarea>
            </div>
            <div class="form-group row">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="writer">Penulis</label>
                <input type="text" class="form-control" id="writer" placeholder="Masukkan nama penulis">
              </div>
              <div class="col-md-6">
                <label for="date">Tanggal Terbit</label>
                <input type="date" class="form-control" id="date">
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="category">Kategori</label>
              <select class="form-control" id="category">
                <option value="edukasi">Edukasi</option>
                <option value="berita">Berita</option>
              </select>
            </div>
            <div class="form-group mb-4">
              <label for="category">Status</label>
              <select class="form-control" id="category">
                <option value="edukasi">Draft</option>
                <option value="edukasi">Publish</option>
                <option value="berita">Unpublish</option>
              </select>
            </div>
            <div class="form-group mb-4">
              <label for="image">Gambar Postingan</label>
              <input type="file" class="form-control-file" id="image">
            </div>
            <button type="submit" class="btn btn-primary mr-2">Terbitkan</button>
            <button type="submit" class="btn btn-secondary">Simpan sebagai Draft</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


