
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-bold" style="font-size: 42px;">Postingan Edukasi</h2>
                <P class="fw-bold" style="font-size: 24px;">Buat ubah dan hapus postingan website mu disini</P>
                <div class="status text-white">
                    <a href="#" class="text-decoration-none text-white terbit" id="s">Diterbitkan</a>
                    <a href="#" class="text-decoration-none text-white draft" id="s">Draft</a>
                    <a href="#" class="text-decoration-none text-white sampah" id="s">Sampah</a>
                </div>
                <form class="d-flex" role="search" id="cari">
                    <input class="form-control me-2 w-100 h-50" type="search" placeholder="Search" aria-label="Search">
                    <a href=""><i class="bi bi-search fa-2x" style="color: #fafafa;"></i></a>
                  </form>
                  <button class="btn btn-success" id="add" [routerLink]="['tambahpostingan']">Tambah</button>
              <table class="table table-bordered">
                <thead class="text-center" style="color: #fafafa; background: royalblue;">
                    <tr>
                        <th>No</th>
                        <th>Postingan</th>
                        <th class="text-center">Aksi</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>1</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>
                            <button class="btn btn-success btn-sm me-2 edit">Edit</button>
                            <button class="btn btn-danger btn-sm delete">Hapus</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>
                            <button class="btn btn-success btn-sm me-2 edit">Edit</button>
                            <button class="btn btn-danger btn-sm delete">Hapus</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>
                            <button class="btn btn-success btn-sm me-2 edit">Edit</button>
                            <button class="btn btn-danger btn-sm delete">Hapus</button>
                        </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </section>