<router-outlet></router-outlet>
<section class="main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center fw-bold" style="font-size: 42px;">{{judul}}</h2>
           <div class="card">
            <div class="Status-Post">
              <a routerLink="" class="text-decoration-none Publish">Diterbitkan</a>
              <a routerLink="" class="text-decoration-none Draft">Draft</a>
              <a routerLink="" class="text-decoration-none Trash">Sampah</a>
            </div>
            <form class="d-flex" role="search" id="cari">
              <input class="form-control me-2 w-100 h-50" type="search" placeholder="Search" aria-label="Search">
              <a href=""><i class="bi bi-search fa-2x"></i></a>
            </form>
            <button class="btn btn-success btn-sm" id="Add" routerLink="tambahpostingan">Tambah</button>
          <table class="table table-bordered">
            <thead class="text-center" style="color: #fafafa; background: royalblue;">
              <tr>
                <th>No</th>
                <th>Judul</th>
                <th>Kategori</th>
                <th>Tanggal</th>
                <th class="text-center">Aksi</th>
              </tr>
            </thead>
            <tbody class="text-center" id="table-body" *ngFor="let data of postingan">
              <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.title }}</td>
                <td>{{ data.category }}</td>
                <td>{{ data.created_at }}</td>
                <td>
                  <button class="btn btn-success btn-sm me-2">Edit</button>
                  <button class="btn btn-danger  btn-sm me-2">Hapus</button>
                  <button class="btn btn-warning  btn-sm">Detail</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </section>
