.card-work {
    background-color: #fff;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.header {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin-left: 7%;
    margin-right: 7%;
}

.card-date {
    font-size: 15px;
    font-weight: 100;
    color: #000;
    margin-left: 7%;
    margin-right: 7%;
    opacity: 0.5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-section>img {
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    height: 300px;
    border-radius: 10px;
}

.card-desc {
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    text-indent: 60px;
}

.card-work .card-desc .content p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
    .card-work {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .card-work {
        margin-left: 10px;
        margin-right: 10px;
    }
}