<body>
    <nav>
        <ng-sidebar-container>
            <ng-sidebar [opened]="opened">
                <ul>
                    <label class="menu">Menu
                        <label (click)="toggleSidebar()" class="btn-menu">
                            <i class="bi bi-x-circle"></i>
                        </label>
                    </label>
                    <li (click)="toggleSidebar()"><a routerLink="beranda" routerLinkActive="active">Beranda</a></li>
                    <li (click)="toggleSidebar()"><a routerLink="news" routerLinkActive="active">Berita</a></li>
                    <li (click)="toggleSidebar()"><a routerLink="education" routerLinkActive="active">Edukasi</a></li>
                    <li (click)="toggleSidebar()"><a routerLink="about" routerLinkActive="active">Tentang Kami</a></li>
                    <li (click)="toggleSidebar()"><a routerLink="contact" routerLinkActive="active">Hubungi Kami</a></li>
                </ul>
            </ng-sidebar>
            <div ng-sidebar-content class="sidebar">
                <label class="logo"><a routerLink="beranda">CareKids</a></label>
                <button (click)="toggleSidebar()" class="btn">
                    <i class="bi bi-menu-app mt-0 fa-2x"></i>
                </button>
            </div>
        </ng-sidebar-container>
        <div class="navi">
            <label class="logo"><a routerLink="beranda">CareKids</a></label>
            <ul>
                <li><a routerLink="beranda" routerLinkActive="active">Beranda</a></li>
                <li><a routerLink="news" routerLinkActive="active">Berita</a></li>
                <li><a routerLink="education" routerLinkActive="active">Edukasi</a></li>
                <li><a routerLink="about" routerLinkActive="active">Tentang Kami</a></li>
                <li><a routerLink="contact" routerLinkActive="active">Hubungi Kami</a></li>
            </ul>
        </div>

        <router-outlet></router-outlet>
        
        <div class="footer ">
            <div class="row">
            <p class="copyright">Copyright &copy; 2023 All Rights Reserved by <a routerLink="beranda">CareKids</a></p>
            </div>
        </div>
    </nav>
</body>