* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #3C6BC6;
    height: 80px;
    width: 100%;
}

label.logo {
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.logo{
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    margin-left: 3%;
    line-height: 68px;
}

.logo a{
    text-decoration: none;
    color: #fff;
}

nav ul {
    float: right;
    margin-right: 9%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: orange;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #3C6BC6;
    text-align: center;
    color: rgb(255, 252, 252);
    font-size: 20px;
    line-height: 40px;
}

.copyrigth {
    margin-top: 2px;
}

.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer a:hover {
    color: rgb(3, 3, 3);
}

@media (max-width: 1150px) {
    .checkbtn {
        color: #ffffff;
        float: right;
        line-height: 80px;
        margin-right: 8%;
        cursor: pointer;
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 140vh;
        background: #3C6BC6;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1 !important;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}


/* * {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}

#container {
    background-color: #f2f2f2;
} */

/* .navigation */
/* .navigation {
    width: 100%;
    height: 70px;
    background-color: #3C6BC6;
}

.logo {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin-left: 8%;
    line-height: 68px;
}
.logo a {
    text-decoration: none;
    color: #fff;
}

.navigation ul {
    float: right;
    margin-right: 100px;
    margin-top: 23px;
}

.navigation ul li {
    display: inline-block;
    position: relative;
    margin: 0 2px;
}

.navigation ul li > a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bold;
    transition: 0.6s ease;
}

.navigation >ul > li > a:hover {
    background-color: orange;
    color: #000;
}

.active,
.nav > ul > li:hover>a {
    background-color: orange;

}

.navigation ul li ul.dropdown {
    position: absolute;
    background-color: #3C6BC6;
    display: none;
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    transition: 0.6s ease;
    width: 250px;
    z-index: 1 !important;
}

.navigation ul li:hover ul.dropdown {
    display: block;
    z-index: auto;
}

.navigation ul li ul.dropdown>li {
    display: block;
    margin: 5px 0;
}

.navigation ul li ul.dropdown li a {
    display: block;
    text-align: left;
    font-size: 16px;
}

.navigation ul li ul.dropdown li>a:hover {
    background-color: orange;
    color: #000;
    width: 80%;
    margin-left: 10%;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
} */
/* end navigation */
/* footer */
/* .footer {
    width: 100%;
    height: auto;
    background-color: #3C6BC6;
    text-align: center;
    color: rgb(255, 252, 252);
    font-size: 20px;
    line-height: 40px;
}

.copyrigth {
    margin-top: 2px;
}

.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer a:hover {
    background-color: orange;
    color: rgb(3, 3, 3);
} */
/* end footer */
/* Responsif */
/* @media (max-width: 952px) {
     */