<div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center fw-bold" style="font-size: 42px;">PESAN MASUK</h2>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama Lengkap</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nomor Telepon</th>
                        <th scope="col">Pesan</th>
                        <th scope="col">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of pesan">
                        <td scope="row"></td>
                        <td>{{data.nama}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.phone}}</td>
                        <td>{{data.pesan}}</td>
                        <td align="center">
                          <button (click)="delPesan(data.id)" class="btn btn-danger btn-sm me-2 ">Hapus</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
</div>

