<div class="card-work" *ngFor="let data of education ">
    <div class="header">
        <div class="card-title">{{ data.title }}</div>
    </div>
    <div class="card-date">
        <div class="date"> Diposting pada: {{ data.created_at }}</div>
        <div class="author">Penulis: {{ data.author }}</div>
    </div>
    <div class="img-section" >
        <img src="{{ data.thumbnail }}" alt="image" class="img-thumbnail">
    </div>
    <div class="card-desc">
        <div class="card-content">
            <p class="content">{{ data.content }}</p>
        </div>
        <app-images-list></app-images-list>
<!-- video start -->
        <!-- <div class="card-video">
            <figure>
                <iframe width="560" height="315" src="{{ data.video }}" frameborder="0"></iframe>
            </figure>
            <div class="play-icon-box"></div>
        </div> -->
<!-- video end -->
    </div>
    <detail-comments></detail-comments>