<div class="card-work" *ngFor="let data of education ">
    <div class="header">
        <div class="card-title">{{ data.title }}</div>
    </div>
    <div class="card-date">
        <div class="date">{{ data.created_at }}</div>
        <div class="author">By : {{ data.author }}</div>
    </div>
    <div class="img-section" >
        <img src="{{ data.thumbnail }}" alt="image" class="img-thumbnail">
    </div>
    <div class="card-desc">
        <div class="card-content">
            <p class="content" style="text-indent: 45px;">{{ data.content }}</p>
        </div>
        <div class="img-gallery">
            <div class="img-gallery-item">
                <img src="{{ data.images }}" alt="image" class="img-thumbnail">
            </div>
        </div>
    </div>
    <div class="card-comment">
        <h4>Komentar</h4>
        <div class="form">
            <!-- #commnetsForm="ngForm" (ngSubmit)="getCommentForm(commnetsForm.value)" -->
            <form action="" id="" >
                <label for="name" class="comment-name">Nama :</label>
                <input type="text" ngModel id="name" name="name" class="form-control" placeholder="Masukan Nama Lengkap Anda *">
                <label for="message" class="comment-message">Pesan</label>
                <textarea name="message" ngModel id="message" cols="110" rows="3" class="form-control" placeholder="Masukan Pesan Anda *"></textarea>
                <button type="submit" class="btn btn-primary mt-1 mb-2">Kirim</button>
            </form>
        </div>
    </div>
    <!-- *ngFor="let data of education " -->
    <div class="card-comment">
        <div class="comment">
            <div class="comment-name-out">
                <h5>{{ data.name }}</h5>
            </div>
            <div class="comment-message">
                <p>{{ data.comments }}</p>
            </div>
</div>