<body>

    <div id="container">
        <div class="header">
        </div>
        <div class="navigation shadow">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo"><a routerLink="beranda">CareKids</a></label>
            <ul>
                <li><a routerLink="dashboard">Beranda</a></li>
                <li class=""><a>Postingan</a>
                    <ul class="dropdown">
                        <li><a routerLink="berita">Berita</a></li>
                        <li><a routerLink="edukasi">Edukasi</a></li>
                    </ul>
                </li>
                <li><a routerLink="pesan">Pesan</a></li>
                <li><a class="nav-link"><img src="../../../assets/img/Foto Profil.svg" class="profil" width="40px" alt=""></a>
                <ul class="dropdown">
                  <li><a routerLink="">Logout</a></li>
                </ul>

               </li>
            </ul>
        </div>



<router-outlet></router-outlet>

<!-- Footer -->

  <div class="footer">
    <div class="row">
        <p class="copyright">Copyright &copy; 2023 All Rights Reserved by <a
            routerLink="beranda">CareKids</a>
        </p>
    </div>
    </div>
</div>

<!-- Akhir Footer -->
 </body> 


