<body *ngFor="let data of about">
    <div class="judul">
        <div class="title-home col-12">
            <p>Tentang Kami</p>
        </div>
        <img src="../assets/images/logo.png" alt="CareKids">
    </div>
    <div class="content">
        <h4>CareKids</h4>
        <h5>Visi CareKids</h5>
        <p>{{ data.visi }}</p>
        <h5>Misi CareKids</h5>
        <p>{{ data.misi }}</p>
    </div>

        <div class="title-home col-12">
            <p>Tim Kami</p>
        </div>

        <!-- coba -->
        <div class="wrapper">
            <div class="card">
                <div class="card-image">
                <img src="assets/images/profile/pp.jpg" alt="profile image">
                </div>
                <p class="name">Lala Siti Aulya</p>
                <p>Project Manajer</p>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/assets/images/profile/pp.jpg" alt="profile image">
                </div>
                <p class="name">Risma Reka</p>
                <p>Project Manajer</p>                
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/assets/images/profile/pp.jpg" alt="profile image">
                </div>
                <p class="name">Desi Sabarita</p>
                <p>Project Manajer</p>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/assets/images/profile/pp.jpg" alt="profile image">
                </div>
                <p class="name">Senni Juniarti</p>
                <p>UI/UX Design</p>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/assets/images/profile/pp.jpg" alt="profile image">
                </div>
                <p class="name">Muhamad Heski</p>
                <p>UI/UX Design</p>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/assets/images/profile/pp.jpg" alt="profile image">
                </div>
                <p class="name">Imam Buhori</p>
                <p>Front-End Developer</p>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/assets/images/profile/pp.jpg" alt="profile image">
                </div>
                <p class="name">Ade Haryanto</p>
                <p>Front-End & Back-End Developer</p>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/assets/images/profile/pp.jpg" alt="profile image">
                </div>
                <p class="name">Dedi Hamzah</p>
                <p>Back-End Developer</p>
            </div>
        </div>