<div class="container">
    <div class="row">
            <div class="judul">
                <div class="col-12">
                    <div class="title-home">
                        <p>Tentang Kami</p>
                    </div>
                </div>
                <img src="../assets/images/thumbnail/Screenshot 2023-01-04 120836.png" alt="CareKids">
            </div>
        <div class="content">
            <h4>CareKids</h4>
            <h5>Misi CareKids</h5>
            <p>Our mission is to empower young Students to be the inventors and creators.In a world where so much is
                being done for technology and so little for the environment, education is not
                even a part of most discussions.<br>We at Studytonight believe that by widening the reach of education, by making it freely available, so
                much
                can be achieved.</p>
            <h5>Profil Singkat</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac suscipit lectus. Curabitur ligula leo, pretium id
            molestie in, tristique eu erat.
            Pellentesque id enim ut lectus tempor semper. Maecenas vel bibendum mauris. Vestibulum ut nisl id velit laoreet
            placerat. Suspendisse sodales
            dapibus sem, vel ultrices est tincidunt eget. Phasellus a euismod dolor, vel sollicitudin nisl. Nulla sed nunc
            condimentum, auctor ipsum nec,
            sagittis velit.
            Nullam malesuada luctus libero ac hendrerit. Aliquam varius ante libero, sit amet aliquam justo tempor id. Quisque
            auctor tellus vitae ante
            commodo volutpat. Duis pharetra est et augue placerat scelerisque. Duis ligula augue, ullamcorper a imperdiet et,
            maximus sit amet sapien.
            </p>
        </div>

        <div class="col-12">
            <div class="title-home">
                <p>Tim Kami</p>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="" alt="Profile image">
                </div>
                <p class="name">Ade Haryanto</p>
                <p>Back-End Developer</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="" alt="Profile image">
                </div>
                <p class="name">Ade Haryanto</p>
                <p>Back-End Developer</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="" alt="Profile image">
                </div>
                <p class="name">Ade Haryanto</p>
                <p>Back-End Developer</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="" alt="Profile image">
                </div>
                <p class="name">Ade Haryanto</p>
                <p>Back-End Developer</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="" alt="Profile image">
                </div>
                <p class="name">Ade Haryanto</p>
                <p>Back-End Developer</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="" alt="Profile image">
                </div>
                <p class="name">Ade Haryanto</p>
                <p>Back-End Developer</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="" alt="Profile image">
                </div>
                <p class="name">Ade Haryanto</p>
                <p>Back-End Developer</p>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="" alt="Profile image">
                </div>
                <p class="name">Ade Haryanto</p>
                <p>Back-End Developer</p>
            </div>

    </div>
</div>
</div>


