body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
    height: auto;
}

/* title-home */
.title-home {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    background-color: rgb(235, 245, 245);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    margin-top: 0px;
}

.title-home>p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.judul img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 4px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.content h5 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.content p {
    font-size: 18px;
    text-align: justify;
    text-indent: 50px;
}

/* card */
.wrapper {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.wrapper .card {
    margin-top: 90px;
    background: #fff;
    width: calc(26% - 25px);
    padding: 20px 0px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
        0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    transform: scale(1.2);
}

p {
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    text-align: center;
}

.name {
    margin-top: 80px;
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}

@media (max-width: 1020px) {
    .wrapper .card {
        width: calc(50% - 20px);
        margin-bottom: 10px;
    }
}

@media (max-width: 698px) {
    .wrapper .card {
        width: 100%;
    }
}
